.mobie-catalogs-fetcher {
    .ant-card-head {
        padding: 0;

        &-title {
            padding: 0;
        }

        .ant-tabs-nav-container-scrolling {
            padding-right: 24px;
            padding-left: 24px;
        }
    }

    .ant-card-body {
        background: #f0f2f5 !important;
    }
}