.order-detail-payment-infomation {
    .antd-pro-description-list-term {
        display: inline-block;
        width: 200px;
    }
    .antd-pro-description-list-detail {
        display: inline-block;
        width: 100px;
        text-align: right;
    }
}