.header-notification-list {
    .ant-list-item {
        transition: all .3s;
        cursor: pointer;
        &:hover {
            background: #e6f7ff;
        }
        &.viewed {
            opacity: .5;
        }
    }
}